//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Lists*/
ul {
  li {
	@include fluid-type(400px, 1200px, 12px, 16px);
	text-rendering : optimizeLegibility;
	margin-right   : $gap;

	&:last-of-type {
	  margin-right : 0;
	}
	&:before {
	  font-family : $icon-font-family;
	  content     : '';
	  display     : inline-block;
	  @include fluid-type($min-screen, $max-screen, 16px, 20px);
	}
  }
  /*Check-1 */
  &.headerList {
	li {
	  @include mainFont;
	  color         : $light;
	  list-style    : none;
	  display       : flex;
	  flex-flow     : row;
	  align-items   : center;
	  align-content : center;
	  @include fluid-type(400px, 1200px, 16px, 17px);

	  svg {
		margin-right : $gap*0.5;
		width        : 18px;
		height       : auto;

		path {
		  stroke            : red;
		  border            : 1px dashed red;
		  stroke-dasharray  : 2;
		  stroke-dashoffset : 200;
		}

	  }
	}
  }
  &.service {
	width           : 100%;
	font-family     : $price-font-family;
	display         : flex;
	flex-flow       : row wrap;
	justify-content : space-between;
	border-top      : 1px solid $light;
	border-bottom   : 1px solid $light;

	li {
	  @include fluid-type($min-screen, $max-screen, 16px, 20px);
	  display       : flex;
	  flex-flow     : row nowrap;
	  align-items   : center;
	  align-content : center;
	  color         : $light;
	  @include fluid(padding-top, $min-screen, $max-screen, 16px, 24px);
	  @include fluid(padding-bottom, $min-screen, $max-screen, 16px, 24px);
	  line-height   : 0;
	  flex          : 0 0 auto;

	  &:before {
		display      : inline-block;
		content      : '\f05d';
		margin-right : 7px;
	  }
	}
	@include breakpoint(xxl) {
	  justify-content : center;
	}
	@include breakpoint(sm) {
	  flex-flow     : column;
	  align-content : center;
	  align-items   : center;
	}
  }
}
/* @TODO: find a place for css Animations maybe a extra scss file to manage it. */
/*SVG Animation checkIcon*/
#checkIcon {
  #circle, #check {
	animation-name            : troop;
	animation-duration        : 2s;
	animation-timing-function : ease-in-out;
	stroke-dasharray          : 1000;
	stroke-dashoffset         : 1000;
	animation-fill-mode       : forwards;
  }

  #check {
	animation-delay    : 1s;
	animation-duration : .8s;
  }
  @-webkit-keyframes troop {
	from {
	  stroke-dashoffset : 1000;
	}
	to {
	  stroke-dashoffset : 0;
	}
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Buttons*/
.btn {
  @include mainFont;
  @include gradient-1;
  position        : relative;
  text-decoration : none;
  color           : $dark;
  text-transform  : uppercase;
  border-radius   : 2px;
  padding         : 13px 25px;
  min-width       : 204px;
  text-align      : center;
  font-weight     : 400;
  overflow        : hidden;

  &:before {
	position         : absolute;
	content          : '';
	left             : -6px;
	top              : 0;
	height           : 100%;
	width            : 6px;
	background-color : $color-3;
	transition       : left .1s ease-in-out;
  }
  /*Bold Text*/
  b {
	font-weight : 700;
  }

  /*Hover*/
  &:hover {
	&:before {
	  left       : 0;
	  transition : left .4s ease-out;
	}
  }

  /*White btn*/
  &.btn-1 {

  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Description List*/
dl {
  dt {
  }
  dd {
  }
  &.packageService {
	display   : flex;
	flex-flow : row wrap;

	dt, dd {
	  padding : 0.3rem 0;
	}
	dt {
	  flex : 0 0 70%;
	}
	dd {
	  flex            : 0 0 30%;
	  display         : flex;
	  flex-flow       : row nowrap;
	  justify-content : flex-end;
	  align-content   : center;
	  align-items     : center;
	  text-align      : right;
	}
  }
}