//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Lists*/
ul {
  li {
    @include fluid-type(400px, 1200px, 12px, 16px);
    text-rendering : optimizeLegibility;
    &:before {
      font-family : $icon-font-family;
      content     : '';
      display     : inline-block;
      @include fluid-type($min-screen, $max-screen, 16px, 20px);
    }
  }
  /*Check-1 */
  &.headerList {
    li {
      @include mainFont;
      color: $light;
      list-style    : none;
      display       : flex;
      flex-flow     : row;
      align-items   : center;
      align-content : center;
      @include fluid-type(400px, 1200px, 16px, 17px);

      svg {
        margin-right: $gap*0.5;
        width: 18px;
        height: auto;



        path {
          stroke: red;
          border: 1px dashed red;
          stroke-dasharray : 2;
          stroke-dashoffset: 200;
        }

      }
    }
  }
}
/*SVG Animation checkIcon*/
#checkIcon {

  #circle, #check {
    animation-name: troop;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    stroke-dasharray: 1000;
    stroke-dashoffset : 1000;
    animation-fill-mode : forwards;
  }

  #check {
    animation-delay: 1s;
    animation-duration :.8s;
  }
  @keyframes troop {
    from {
      stroke-dashoffset : 1000;
    }
    to {
      stroke-dashoffset : 0;
    }
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Buttons*/
.btn {
  display          : flex;
  align-content    : center;
  align-items      : center;
  justify-content  : center;
  justify-items    : center;
  margin           : 0 auto;
  border-radius    : rem(13px);
  padding          : rem(21px) rem(50px);
  background-color : #801c2a;
  width            : 247px;
  height           : 63px;
  font-family      : $main-font-family;
  @include fluid-type($min-screen, $max-screen, 16px, 20px);
  //font-size        : rem(20px);
  font-weight      : 300;
  color            : $light;
  text-decoration  : none;
  @include animation-3;

  b {
    font-weight  : Bold;
    margin-right : 5px;
  }
  /* @Fixme: Hover Effect buggy show to much opacity */
  &.btn-1 {
    @include gradient-1;
    color : $dark;
    @include box-shaddow-1;

    &:hover {
      color      : $light;
      background : $color-2;
    }
  }
  &.btn-3 {
    border           : #000 solid 2px;
    border-radius    : 14px;
    background-color : rgba(3, 11, 14, 0.70);
    color            : #fff;
    font-size        : rem(25px);
    font-weight      : 300;
  }
}