//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Lists*/

ul {

  li {
    &:before {
      font-family : $icon-font-family;
      content     : '';
      display     : inline-block;
    }
  }

  &.greenCheck {
    li {
      list-style    : none;
      display       : flex;
      flex-flow     : row;
      align-items   : center;
      align-content : center;

      &:before {
        content      : '\f00c';
        display      : inline-block;
        margin-right : 0.4rem;
        color        : $check;
        padding      : 0;
        align-self   : center;
      }
    }
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Buttons*/
.btn {
  display          : inline-flex;
  align-content    : center;
  align-items      : center;
  justify-content  : center;
  justify-items    : center;
  border-radius    : rem(13px);
  padding          : rem(21px) rem(50px);
  background-color : #801c2a;
  width            : 247px;
  height           : 63px;
  font-family      : $main-font-family;
  font-size        : rem(20px);
  font-weight      : 300;
  color            : $light;
  text-decoration  : none;
  @include animation-3;

  b {
    font-weight  : Bold;
    margin-right : 5px;
  }
  /* @Fixme: Hover Effect buggy show to much opacity */
  &.btn-1 {
    @include gradient-1;
    color : $dark;

    &:hover {
      background : $light;
    }
  }
  &.btn-3 {
    border           : #fff solid 2px;
    border-radius    : 14px;
    background-color : rgba(3, 11, 14, 0.70);
    color            : #fff;
    font-size        : rem(25px);
    font-weight      : 300;
  }
}