@import "typo";
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  z-index    : 100;
}
html, body {

}
html {
  background-color : #f7f7f7;
}
body {

}

