header {
  display          : flex;
  justify-content  : center;
  width            : 100vw;
  background-color : $color-1;
  @include fluid(height, $min-screen, $max-screen, 73px, 130px);

  .topBar {
    display               : grid;
    @include siteWidth;
    justify-self          : center;
    grid-template-rows    : 100%;
    grid-template-columns : 1fr 2fr 1fr;
    grid-template-areas   : "logo mainMenu phoneBox";
    align-content         : center;
    align-items           : center;

    .logo {
      grid-area : logo;
      img {
        @include fluid(width, $min-screen, $max-screen, 120px, 211px);
      }
    }
    .mainMenu {
      grid-area : mainMenu;
    }
    .infoBox {
      grid-area      : phoneBox;
      justify-self   : end;
      text-transform : uppercase;

      span {
        @include headerFont;
        &:before {
          margin-right : 0.5rem;
        }
      }
    }
    .menuButton, .infoButton {
      display : none;
    }
    .infoButton {
      grid-area : infoButton;
    }
    .menuButton {
      grid-area : menuButton;
    }
    .logo {
      display         : flex;
      justify-items   : start;
      justify-content : start;
    }
  }
  //  @Medium:  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  @include breakpoint(md) {
    position : fixed;
    top      : 0;
    left     : 0;
    z-index  : 5000;
    .topBar {
      grid-template-areas : "menuButton logo infoButton";
      .mainMenu, .infoBox {
        display : none;
      }
      .menuButton, .infoButton {
        display         : flex;
        flex-flow       : row nowrap;
        justify-content : center;
        justify-items   : center;
        align-content   : center;
        align-items     : center;
      }
      .menuButton, .infoButton {
        font-family    : $main-font-family;
        text-transform : capitalize;
        color          : $light;

        span {
          display       : flex;
          align-content : flex-end;

          &:before {
            font-size    : rem(26px);
            margin-right : 0.3rem;
          }
        }
      }
      .logo {
        justify-content : center;
      }
    }
  }
}