//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Breakpoints*/
$bp-context : 16px;
$breakpoints : (
        'xs': em(456px, $bp-context),
        'sm': em(640px, $bp-context),
        'md': em(752px, $bp-context),
        'lg': em(992px, $bp-context),
        'xl': em(1168px, $bp-context)
);

@mixin breakpoint($point) {

  @if map-has-key($breakpoints, $point) {

    @media (max-width : map-get($breakpoints, $point)) {
      @content;
    }
  } @else {
    @warn "The breakpoint #{$point} is not associated with a min-width.";
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Fonts*/
@mixin mainFont {
  font-family : $main-font-family;
  font-weight : 300;
}
@mixin titleFont {
  font-family : $title-font-family;
  font-weight : 500;
}
@mixin menu-font-style {
  font-family     : $main-font-family;
  font-size       : rem(24px);
  font-weight     : 300;
  text-decoration : none;
  color           : $light;
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Animations
@mixin animation-1 {
  transition : all 0.4s ease-out;
}
@mixin animation-2 {
  transition : all 0.2s linear;
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Global*/
@mixin sitePadding {
  padding : 0 $gap;
}
@mixin pageWidth {
  width        : 100%;
  max-width    : $template-width;
  display      : grid;
  justify-self : center;
  @include sitePadding;
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

