ul.mainMenu {
  list-style      : none;
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : space-between;
  max-width       : 290px;

  border          : 1px dashed red;

  li {

  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ul.mobileMenu {
  display : none;
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ul.footerMenu {

}