.ServiceContainer {
  @include GridLayout;

  .contentBox {
	display               : grid;
	grid-template-columns : repeat(3, 1fr);
	grid-auto-rows        : 180px;
	grid-gap              : 40px $gap;
	height                : auto;
	padding-bottom        : calc(100vh - 863px);
	margin-bottom         : 50px;

	.title {
	  display       : flex;
	  flex-flow     : row nowrap;
	  align-content : center;
	  align-items   : center;

	  .icon {
		margin-right : 0.5rem;
		svg {
		  height : 22px;
		  width  : auto;

		  //* @TODO: Make this area Global with White and Dark Options */
		  .circle, .check {
			stroke : $color-1 !important;
		  }
		  .circle {
		  }
		  .check {
		  }
		}
	  }
	  span {
		@include mainFont;
		font-weight   : 500;
		margin-bottom : 4px;
	  }
	  .service-name {
		> .title {
		  display       : flex;
		  flex-flow     : row nowrap;
		  align-items   : center;
		  align-content : center;
		  @include mainFont;
		  font-weight   : 600;
		  @include fluid(margin-bottom, $min-screen, $max-screen, 10px, 18px);
		  color         : $color-2;
		}
	  }
	}
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	@include breakpoint(lg) {
	  grid-template-columns : repeat(2, 1fr);
	}
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	@include breakpoint(md) {
	  grid-template-columns : 1fr;
	}
  }
  @include breakpoint(lg) {
	height : auto;

	.contentBox {
	  grid-auto-rows : auto;
	}

  }
}
.ServericePackageListContainer {
  width                 : 100%;
  max-width             : 100vw;
  padding-bottom        : 116px;
  background            : url("assets/images/backgrounds/packageServicebackground.svg");
  background-position   : center;
  background-size       : cover;
  background-attachment : scroll;
  background-repeat     : no-repeat;

  overflow-x            : auto;

  .GridContainer {
	@include GridLayout;

	/*Grid settings*/
	.group, .packageTitleBar {
	  display               : Grid;
	  grid-template-columns : 4fr repeat(3, 2fr);
	  align-items           : center;
	}
	.packageTitleBar {
	  height : rem(72px);
	  .name {
		padding-left : 1.4rem;
	  }
	  .package-1, .package-2, .package-3 {
		text-align : center;
	  }
	  span {
		@include mainFont;
		font-size      : 16px;
		font-weight    : bold;
		color          : $light;
		text-transform : uppercase;

	  }
	}
	.packageList {
	  background-color : rgba(0, 0, 0, 0.70);
	  border-top       : 6px solid #000;

	  .group {
		@include mainFont;
		padding : 0.6rem 1.4rem;
		color   : $light;

		&:nth-of-type(2n-1) {
		  background-color : rgba(0, 0, 0, 0.2);
		}
		.serviceValue {
		  text-align  : center;
		  font-weight : 300;
		}
	  }
	  .group-11 {
		font-weight      : 700 !important;
		height           : rem(72px);
		background-color : rgba(0, 0, 0, 0.5) !important;
		border-bottom    : 3px solid black;

		.serviceValue {
		  @include fluid-type($min-screen, $max-screen, 26px, 31px);
		  font-weight : 700 !important;
		}
	  }
	}

	/*CallToAction Section*/
	.callToActionSection {
	  display   : flex;
	  flex-flow : column nowrap;
	  padding   : 3rem 0;

	  span {
		@include mainFont;
		@include fluid-type($min-screen, $max-screen, 24px*0.6, 24px);
		color       : $light;
		text-shadow : rgba(0, 0, 0, 0.61) 0 1px 2px;

		text-align  : center;
		font-weight : 600;

		&.bigger {
		  @include fluid-type($min-screen, $max-screen, 31px*0.6, 31px);
		  text-transform : uppercase;

		}
		&.spacer {
		  padding        : 12px 0;
		  margin         : 17px 0;
		  position       : relative;
		  text-transform : uppercase;

		  &:before, &:after {
			content          : '';
			position         : absolute;
			background-color : #fff;
			height           : 2px;
			width            : 25px;
			left             : 50%;
			transform        : translateX(-50%);
		  }

		  &:before {
			bottom : 100%;
		  }

		  &:after {
			top : 100%;
		  }
		}
	  }
	}
	@media (max-width : 770px) {

	  .group, .packageTitleBar {
		display               : Grid;
		grid-template-columns : 290px repeat(3, 140px);
		align-items           : center;
	  }
	}
  }
}
.section-CMS {
  .content {
	display   : flex;
	flex-flow : column nowrap;

	h3, p {
	  align-self : center;
	}
	p {
	  width     : 100%;
	  max-width : rem(751px);
	}
  }
}
.section-GoogleAdwords {
  .content {
	display               : grid;
	grid-gap              : 45px $gap;
	grid-template-columns : repeat(2, 1fr);
	grid-auto-columns     : 1fr;
	//---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	@include breakpoint(md) {
	  grid-template-columns : 1fr;
	}
  }
}
.sectionInfoBar {
  display         : flex;
  flex-flow       : row;
  justify-items   : center;
  justify-content : center;
  margin-top      : -50px;

  .bar {
	background-color      : #e6b541;
	padding               : 38px 32px;
	width                 : 100%;
	max-width             : 945px;

	display               : grid;
	grid-template-columns : 50px 1fr 50px;
	grid-template-areas   : "icon text .";

	span {
	  @include mainFont;
	  color       : black;
	  font-weight : Bold;
	  @include fluid-type($min-screen, $max-screen, 16px, 18px);
	  text-align  : center;
	  grid-area   : text;
	  max-width   : 500px;
	  margin      : 0 auto;
	  &.icon {
		grid-area    : icon;
		background   : url(assets/images/icons/information.svg) no-repeat;
		display      : inline-block;
		height       : rem(53px);
		width        : rem(53px);
		margin-right : 40px;
	  }
	}
  }
  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  @include breakpoint(md) {
	.bar {
	  grid-template-columns : 1fr;
	  grid-template-rows    : auto auto;
	  padding               : 1.5rem 0;
	  grid-template-areas   : "icon" "text";

	  span {
		&.icon {
		  margin  : 0 auto 1rem auto;
		  padding : 0 0 1rem 0;

		}
	  }
	}
  }
}
.section-Support {
  @include fluid(margin-bottom, $min-screen, $max-screen, 20px, 60px);
  .content {
	display               : grid;
	grid-template-columns : repeat(12, 1fr);
	grid-template-rows    : 100%;
	grid-gap              : 25px 25px;
	grid-template-areas   : ". . text text text text text text text text . .";

	p {
	  grid-area  : text;
	  text-align : center;
	}
  }
}
.callToAction-3 {
  .content {
	display       : flex;
	flex-flow     : column nowrap;
	align-content : center;
	align-items   : center;

	.imageBox {
	  display             : block;
	  margin              : 0 auto;
	  width               : 100%;
	  max-width           : 872px;
	  height              : 215px;

	  background          : url("assets/images/backgrounds/codingImage.png") no-repeat;
	  background-size     : 80% auto;
	  background-position : center;

	}
  }

}