//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// welcomeBox
.welcomeBox {
  background: url( "assets/images/header/Header-Background@2x.jpg");
  background-position: center;
  @include fluid(height, $min-screen, $max-screen, 523px*0.7, 430px );
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  ul.headerList {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 15px;
    justify-content: center;
    justify-items: center;
    width : 100%;

    li {
      margin-right : $gap*2;
      margin-bottom : $gap*0.3;
      text-align: left !important;
      justify-items: start !important;
      justify-content: start !important;
      justify-self: start !important;


      /* @TODO: best way use mixins to set a font style for better handling in future */
      color: $light;
      @include mainFont;
      font-size : 17px;
      justify-content: start;

      &:last-of-type {
        margin-right : 0;
      }
    }
  }

  @include breakpoint(lg) {
    ul.headerList {
      grid-template-columns : repeat(2, auto);
    }
  }
  @include breakpoint(md) {
    ul.check-1 {
      grid-template-columns : repeat(1, auto);
    }
  }
}