// font
$main-font-family : 'Open Sans', sans-serif;
$title-font-family : 'Josefin Sans', sans-serif;
$icon-font-family : 'icomoon';
$font-size : 16px;

// color
$color-1 : #273c66;
$color-2 : #4062a7;
$color-3 : #82b541;
$color-4 : #181f2d;
$color-5 : #e9cb49;

$dark : #242424;
$light : #f7f7f7;

$done : #82ff70;
$warn : #ff814f;
$error : #ff4d57;

$check : #82b541;

// general
$template-width : 1140px;
$gap : 16px;