// font
$main-font-family : 'Josefin Sans', sans-serif;
$title-font-family : 'Raleway', sans-serif;
$icon-font-family : 'icomoon';
$font-size : 16px;

// color
$color-1 : red;
$color-2 : #181717;
$color-3 : red;
$color-4 : red;
$color-5 : red;

$dark : #242424;
$light : #e2e2e2;

$done : #82ff70;
$warn : #ff814f;
$error : #ff4d57;

//grid padding

